.ant-carousel {
	max-width: 810px;  /* укажите здесь ваше значение */
	position: relative;
}
.ant-carousel-hider {
	/* overflow: hidden; */
}
.ant-carousel-list {
	width: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
}
.ant-carousel-element {
	display: block;
	flex: 0 0 auto;
	width: 150px;  /* укажите здесь ваше значение */
	text-align: center;  /* укажите здесь ваше значение */
}

.ant-carousel-element_1 {
	display: block;
	flex: 0 0 auto;
	width: 50px;  /* укажите здесь ваше значение */
	text-align: center;  /* укажите здесь ваше значение */
}

div.ant-carousel-arrow-left, div.ant-carousel-arrow-right {
    width: 22px;
   height: 40px;
   position: absolute;
   cursor: pointer;
   opacity: 0.6;
   z-index: 2;
   display: block;
}
div.ant-carousel-arrow-left {
    left: -40px;
   top: 40%;
    background: url('../images/tumb/Elena_200.jpg')  no-repeat;
}


